@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;0,900;1,900&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-bg-main: #09090b;
  --color-bg-card: #18181b;
  --color-border-subtle: #27272a;
  --color-brand-blue: #3b82f6;
  --color-text-dim: #71717a;
}

@layer base {
  body {
    @apply font-sans bg-bg-main text-white antialiased;
  }
}

.brutalist-card {
  @apply bg-bg-card border border-border-subtle rounded-md;
}

.brutalist-header {
  @apply text-4xl lg:text-5xl font-black tracking-tighter leading-none uppercase;
}

.mono-label {
  @apply font-mono text-[10px] uppercase tracking-widest text-text-dim;
}

